/* fronts styles */


.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}




.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}





/*           border: #252432 2px solid;             */


/* universal styles */







/* navbar styles */



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 30px 150px;




}

.navbar-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.navbar-links li {
    display: flex;
    align-items: center;
}

.navbar-links li a {
    text-decoration: none;
    color: #8987A1;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-links a.color-change {
    color: #252432;
}

.navbar-logo {
    height: 80px;
    width: 130px;
}


/* header styles */

.header-container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 150px;
    gap: 0;
}

.header-text-box {
    margin-top: 150px;
}

.heading-primary {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    gap: 0;


}

.header-image {
    width: 500px;
    height: 350px;
}


/* product section styles */


.product-section {
    margin: 120px 150px;
}


.main-container {

    max-width: 1200px;
    margin: 0 auto;

}

.product-header {
    text-align: center;
    margin-bottom: 50px;
}

.product-title {

    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;


}

.card-image {
    width: 240px;
    height: 320px;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-title {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}

.card-price {
    margin-top: 4px;
    margin-bottom: 10px;
}

.card-button {
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}


/* store section */

.Store-container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.store-image {
    width: 400px;
    height: 500px;



}

.trusted-badge {
    width: 150px;
    height: 150px;
    margin-left: 320px;
    margin-bottom: -80px;

}

.store-title {
    font-size: 3rem;

}

.store-list li {
    color: rgba(0, 0, 0, 0.5);
    gap: 5px;
}

/* items styles */

.item-header {
    text-align: center;
    margin-bottom: 50px;
}

/* items card styles */

.item-card-container {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    gap: 20px;
}

.item-small-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.small-card-1 {
    height: 190px;
    border-radius: 20px;
    background-image: url(assets/deal-bloom.png);
}

.small-card-2 {
    height: 190px;
    border-radius: 20px;
    background-image: url(assets/deal-ana.png);
}

.large-card {
    height: 400px;
    border-radius: 20px;
    background-image: url(assets/deal-zabo.png);
}


.small-card-1,
.small-card-2,
.large-card {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* form styles */

.form-section {
    height: 500px;
    background-image: url(assets/news-letter-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.subscribe-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.subscribe-form input {
    flex: 1;
    padding: 0 20px;
    border: none;
    font-size: 1rem;
    outline: none;
    color: rgba(0, 0, 0, 0.5);

}




.subscribe-form button {
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;

}

/* footer styles */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-logo {
    height: 80px;
    width: 130px;
}

.footer-link-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.footer-link-1 a {
    color: gray;
    text-decoration: none;
    font-size: bold;
    margin-bottom: 10px;
}

.footer-link-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.footer-link-2 a {
    color: gray;
    text-decoration: none;
    font-size: bold;
    margin-bottom: 10px;
}

.footer-social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 100px;
}





@media screen and (max-width: 576px) {



    .navbar,
    .header-hero-section,
    .product-section {
        margin: 30px 20px;
    }

    /* navbar choto kora */

    .navbar {
        height: auto;
        margin-top: 20px;
    }



    .navbar-links li a {
        display: none;
    }

    /* header choto kora */

    .header-hero-section {
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 20px;
        gap: 20px;
    }

    .header-image {
        width: 100%;
        height: 300px;

    }

    /* card 2 ta kore mobile */

    .card-container {
        grid-template-columns: repeat(2, 1fr);

    }



    .Store-container {
        flex-direction: column;
        text-align: center;
        gap: 60px;
    }

    .store-image {
        width: 100%;
        height: auto;
    }

    /* bage bad deoa mobile e */

    .trusted-badge {
        display: none;
    }

    .store-list {
        text-align: left;
    }


    .item-card-container {
        grid-template-columns: 1fr;
    }

    .small-card-1,
    .small-card-2,
    .large-card {
        height: 250px;
    }


    .form-content h2 {
        font-size: 0.5rem;
        margin-bottom: 10px
    }

    .subscribe-form {
        width: 50%;
        margin: 0 auto
    }

    /* footer thhik kora */

    .footer-container {
        flex-direction: column;
        text-align: left;
        gap: 40px;
    }

    .footer-social-icons img {
        margin-bottom: 20px;

    }


}